<%- include('partials/header.ejs') -%>
<%- include('partials/navigation.ejs') -%>


<div class="main-container">


    <div class="modal-container" data-autoshow="100">
        <div class="modal-content section-modal">
            <section class="unpad ">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-12">
                            <div class="feature feature-1">
                                <div class="feature__body boxed boxed--lg boxed--border text-center">
                                    <div class="modal-close modal-close-cross"></div>
                                    <div class="text-block">
                                        <h3>Submitted</h3>
                                          <p>Thanks for submitting the form we will contact you soon</p>
                                    </div>
                                    <div><i class="icon icon--lg  color--primary material-icons">done</i></div>
                                    <div class="text-block">
                                        <a href="/">Go Back</a>
                                    </div>
                                   
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
    </div>
</div>
<!--end of modal instance-->
</div>
                
  <section class="text-center height-80 imagebg" data-overlay="4" data-gradient-bg="#1B06FD,#646ED8,#32A5EE,#06386F">
    <div class="background-image-holder">
        
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-12">
                <div class="typed-headline">
                    <span class="h1 inline-block">Contact Us &mdash;</span>
                    <span class="h1 inline-block typed-text typed-text--cursor color--primary" data-typed-strings="Payment Intergration, Front End Design, Hosting Migrations, Email Domains"></span>
                </div>
                <p class="lead">
                    Intergrate your business with technology 
                    <br class="hidden-xs hidden-sm" /> find out what is possible
                </p>
                <a class="btn btn--primary type--uppercase" href="#">
                    <span class="btn__text">
                        See Services
                    </span>
                </a>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="switchable switchable--switch">
  <div class="container">
      <div class="row justify-content-between">
          <div class="col-md-5">
              <p class="lead"> E: <a href="#">hello@6egg.co.uk</a><br> T: 07591206911 </p>
              <p class="lead"> Give us a call or drop by anytime, we will try and answer your queries within 2 hours.  </p>
              <p class="lead"> We are open from 9am — 5pm week days. </p>
          </div>
          <div class="col-md-6 col-12">
        
              <form class="row mx-0"action ="/contact" method= "POST" data-success="Thanks for your enquiry, we'll be in touch shortly." data-error="Please fill in all fields correctly.">
                  <div class="col-md-6 col-12"> <label>Your Name:</label> <input type="text" name="name" class="validate-required"> </div>
                  <div class="col-md-6 col-12"> <label>Email Address:</label> <input type="email" name="email" class="validate-required validate-email"> </div>
                  <div class="col-md-12 col-12"> <label>Message:</label> <textarea rows="4" name="message" class="validate-required"></textarea> </div>
                  <div class="col-md-5 col-lg-4 col-6"> <button type="submit" class="btn btn--primary type--uppercase" id ="contact-button">Send Enquiry</button> </div>
              </form>
          </div>
      </div>
  </div>
</section>

<%- include('partials/footer.ejs') -%>