<%- include('partials/header.ejs') -%>
<%- include('partials/navigation.ejs') -%>

<div class="main-container">
  <section>
          <div class="container">
              <div class="row align-items-center justify-content-around">
                  <div class="col-md-6 col-lg-5">
                      <h1>
                          Web application development &amp; consulation for small businesses.
                      </h1>
                      <p class="lead">
                          Technology can be confusing we will help you understand the potiential of your business
                      </p>
                      <a class="btn btn--primary type--uppercase" href="/contact">
                          <span class="btn__text">
                              Contact Us
                          </span>
                      </a>
                  </div>
                  <div class="col-6">
                      <img alt="Image" src="img/crypto-4.svg" />
                  </div>
              </div>
          </div>
      </section>
<section class="switchable feature-large">
  <div class="container">
      <div class="row justify-content-around">
          <div class="col-lg-5 col-md-6 switchable__text">
              <h2>Perfect for small business</h2>
              <p class="lead">Looking for a more functional website? But had high quotes or thought it would be to much hassle? 6 Egg makes this cost effective and simple</p>
              <a class="btn btn--primary type--uppercase" href="/pricing"> <span class="btn__text">PRICING PLANS</span> </a>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
              <div class="boxed boxed--lg boxed--border box-shadow-wide">
                  <div class="slider" data-paging="true">
                      <ul class="slides">
                          <li class="col-12">
                              <div class="feature feature-3 text-center"> <i class="icon color--primary icon-Superman icon--lg"></i>
                                  <h4>Dedicated Support&nbsp;</h4>
                                  <p>You will be assigned a developer to get what you need done, when you need it done</p> 
                                </div>
                          </li>
                          <li class="col-12">
                              <div class="feature feature-3 text-center"> <i class="icon color--primary icon-Atom icon--lg"></i>
                                  <h4>Latest Technology</h4>
                                  <p>6 Egg uses the latest technology to build fully responsive applications that can be updated and adapted to keep up with innovation on the web</p></div>
                          </li>
                          <li class="col-12">
                              <div class="feature feature-3 text-center"> <i class="icon color--primary icon-Pound-Sign icon--lg"></i>
                                  <h4>Cost Effective</h4>
                                  <p>Our streamline sructure allows us to utilise our overseas workforce with a devloper team in the UK to pass on savings to you.</p> </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="switchable feature-large unpad--bottom bg--primary switchable--switch imagebg" data-gradient-bg="#1B06FD,#646ED8,#32A5EE,#06386F">
  <div class="container">
      <div class="row justify-content-around">
          <div class="col-md-6">
              <div class="switchable__text">
                  <h2>Is Your Website Fully Mobile Responsive? iOs and Android</h2>
                  <p class="lead">The way people are interacting and using the internet is increasingly shifting towards mobile. Search engines also show websites that are mobile friendly higher up search results</p> </div>
          </div>
          <div class="col-md-6 col-lg-4 col-12 text-center"> <img alt="Image" src="img/device-1.png"> </div>
      </div>
  </div>
</section>
<section class="text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-lg-3">
              <div class="text-block"> <i class="icon color--dark icon-Sync-Cloud icon--lg"></i>
                  <h4>Cloud Hosting and Migrations&nbsp;</h4>
                  <p>for all business types</p>
              </div>
              <div class="text-block"> <i class="icon color--dark icon-Cloud-Email icon--lg"></i>
                  <h4>Email Services</h4>
                  <p>security, domains and CRM integrations</p>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="text-block"> <i class="icon color--dark icon-Server icon--lg"></i>
                  <h4>Server Management</h4>
                  <p>maintenance, migrations and upgrades</p>
              </div>
              <div class="text-block"> <i class="icon color--dark icon-Shopping-Cart icon--lg"></i>
                  <h4>Payment Intergations</h4>
                  <p>montetise your website</p>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="text-block"> <i class="icon color--dark icon-Computer icon--lg"></i>
                  <h4>Front End Development</h4>
                  <p>for better user experience</p>
              </div>
              <div class="text-block"> <i class="icon color--dark icon-Security-Bug icon--lg"></i>
                  <h4>Bugs&nbsp;</h4>
                  <p>system bug consultation and fix</p>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="text-block"> <i class="icon color--dark icon-Approved-Window icon--lg"></i>
                  <h4>Back End Development</h4>
                  <p>for increased application functionality</p>
              </div>
              <div class="text-block"> <i class="icon color--dark icon-Data-Settings icon--lg"></i>
                  <h4>Databases&nbsp;</h4>
                  <p>MongoDb and MySql</p>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="bg--secondary">
  <div class="container">
      <div class="process-2 row">
          <div class="col-md-3">
              <div class="process__item">
                  <h5>Consultation</h5>
                  <p>Consultation on your current application or website</p>
              </div>
          </div>
          <div class="col-md-3">
              <div class="process__item">
                  <h5>Report</h5>
                  <p>Recommendations on what can be done and what this will cost you per service.&nbsp;</p>
              </div>
          </div>
          <div class="col-md-3">
              <div class="process__item">
                  <h5>Pricing</h5>
                  <p>A menu will be produced on each recommended upgrade and a cost for each item. So costs are transparent and things can be done on a time scale to suit you</p>
              </div>
          </div>
          <div class="col-md-3">
              <div class="process__item">
                  <h5>Completion</h5>
                  <p>Provide training on the upgrade and includes six months support</p>
              </div>
          </div>
      </div>
  </div>
</section>


<section class="text-center imagebg" data-gradient-bg="#1B06FD,#646ED8,#32A5EE,#06386F">
  <div class="container">
      <div class="row">
          <div class="col-md-10 col-lg-8">
              <form class="row" method ="POST" action = "/">
                  <div class="col-md-8"> <input type="email" name="email" placeholder="Email Address"> </div>
                  <div class="col-md-4"> <button type="submit" class="btn btn--primary type--uppercase" >SUBSCRIBE</button> </div>
              </form>
          </div>
      </div>
  </div>
</section>





<section class="text-center">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="feature feature-1"> <img alt="Image" src="img/Nodejs1600x1067.png">
                      <div class="feature__body boxed boxed--lg boxed--border">
                          <h3>Complex Applications</h3>
                          <p class="lead"> Take your business to the next level with an application built with node.js, make the impossible possible </p></div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="feature feature-1"> <img alt="Image" src="img/Wordpress1600x1067.png">
                      <div class="feature__body boxed boxed--lg boxed--border">
                          <h3>Blogs</h3>
                          <p class="lead"> Managable content with extended functionality our most popular platform for applications and websites</p></div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="feature feature-1"> <img alt="Image" src="img/Magento1600x1067.png">
                      <div class="feature__body boxed boxed--lg boxed--border">
                          <h3>E-commerce</h3>
                          <p class="lead"> Open Source E-commerce platform for building high quality customer UI's with managable back-end data  </p></div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="text-center bg--secondary space--xs ">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <ul class="list-inline list-inline--images">
                      <li>
                          <img alt="Image" src="img/Github.png" />
                      </li>
                      <li>
                          <img alt="Image" src="img/CSS3.png" />
                      </li>
                      <li>
                          <img alt="Image" src="img/HTML5.png" />
                      </li>
                      <li>
                          <img alt="Image" src="img/javaScript.png" />
                      </li>
                      <li>
                          <img alt="Image" src="img/sassLogo.png" />
                      </li>
                  </ul>
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>

  <section class="text-center">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-lg-8">
                  <h2>Social Media</h2>
                  <p class="lead">We offer the latest tech to get you more business, from chatbots to facebook pixels we can implement many things to increase your exposure, gain more business and convert more sales</p>
              </div>
          </div>
      </div>
  </section>

  <section class="text-center bg--secondary">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="feature feature-1"> <img alt="Image" src="img/facebook2.png">
                      <div class="feature__body boxed boxed--lg boxed--border">
                          <h3>Facebook</h3>
                          <p class="lead"> Intergrate your business with facebook to track exisiting and discover new customers</p> </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="feature feature-1"> <img alt="Image" src="img/linkedIn2.png">
                      <div class="feature__body boxed boxed--lg boxed--border">
                          <h3>LinkedIn</h3>
                          <p class="lead"> Colloborate with like minded business people to innvoate and grow your customer base </p> </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="feature feature-1"> <img alt="Image" src="img/instaG.png">
                      <div class="feature__body boxed boxed--lg boxed--border">
                          <h3>Instagram</h3>
                          <p class="lead"> The most popular social media platform reach new audiencies </p> </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <%- include('partials/footer.ejs') -%>