<%- include('partials/header.ejs') -%>
<%- include('partials/navigation.ejs') -%>

<div class="main-container">
                
  <section class="text-center">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-8 col-lg-6">
                  <div class="cta">
                      <h2>Fixed Price Options</h2>
                      <p class="lead">
                          We offer some fixed price options for you to get up and running fast. All with our 6 months developer support.
                      </p>
                  </div>
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
  <section>
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="pricing pricing-1 boxed boxed--lg boxed--border">
                      <h3>Basic Wordpress</h3>
                      <span class="h2">
                          <strong>£1000</strong>
                      </span>
                      <span class="type--fine-print">One Year Hosting Included</span>
                      <hr>
                      <ul>
                          <li>
                              <span class="checkmark bg--primary-1"></span>
                              <span>SEO optimised</span>
                          </li>
                          <li>
                              <span class="checkmark bg--primary-1"></span>
                              <span>Signpost website</span>
                          </li>
                          <li>
                              <span class="checkmark bg--primary-1"></span>
                              <span>Free company emails hello@yourcompany.co.uk</span>
                          </li>
                          <li>
                              <span class="checkmark bg--primary-1"></span>
                              <span>6 Months Support</span>
                          </li>
                          <li>
                              <span class="checkmark bg--primary-1"></span>
                              <span>Free Training</span>
                          </li>
                          <li>
                                  <span class="checkmark bg--primary-1"></span>
                                  <span>Highly Extendable & Scalable</span>
                              </li>
                      </ul>
                      <a class="btn btn--primary" href="#">
                          <span class="btn__text">
                              
                          </span>
                      </a>
                  </div>
                  <!--end of pricing-->
              </div>
              <div class="col-md-4">
                      <div class="label margin-bottom">Value</div>
                  <div class="pricing pricing-1 boxed boxed--lg boxed--border boxed--emphasis">
                      
                      <h3>Worpress Online Store</h3>
                      <span class="h2">
                          <strong>£1500</strong>
                      </span>
                      <span class="type--fine-print">Checkout, Database, SMTP email, </span>
                      
                      <hr>
                      <ul>
                          <li>
                              <span class="checkmark bg--primary-1"></span>
                              <span>All Of Basic</span>
                          </li>
                          <li>
                              <span class="checkmark bg--primary-1"></span>
                              <span> Full Checkout </span>
                          </li>
                          <li>
                              <span class="checkmark bg--primary-1"></span>
                              <span>Two Payment Integrations</span>
                          </li>
                          <li>
                              <span class="checkmark bg--primary-1"></span>
                              <span>Customer Database</span>
                          </li>
                              <li>
                                      <span class="checkmark bg--primary-1"></span>
                                      <span>Mail Chimp Intergration</span>
                              </li>
                         
                          
                      </ul>
                      <a class="btn btn--primary-1" href="#">
                          <span class="btn__text">
                          
                          </span>
                      </a>
                  </div>
                  <!--end of pricing-->
              </div>
              <div class="col-md-4">
                  <div class="pricing pricing-1 boxed boxed--lg boxed--border">
                      <h3>Magento Online Store</h3>
                      <span class="h2">
                          <strong>£2000</strong>
                      </span>
                      <span class="type--fine-print">All Of Basic</span>
                      <hr>
                      <ul>
                          <li>
                              <span class="checkmark bg--primary-1"></span>
                              <span>Full Magento Training</span>
                          </li>
                          <li>
                              <span class="checkmark bg--primary-1"></span>
                              <span> SEO Gold Service</span>
                          </li>
                          <li>
                              <span class="checkmark bg--primary-1"></span>
                              <span>Social Media Integrations</span>
                          </li>
                          <li>
                              <span class="checkmark bg--primary-1"></span>
                              <span>Chat Functionality</span>
                          </li>
                          <li>
                                  <span class="checkmark bg--primary-1"></span>
                                  <span>Customer Monitoring</span>
                              </li>
                              <li>
                                      <span class="checkmark bg--primary-1"></span>
                                      <span>CRM intergration</span>
                                  </li>
                                      <span class="checkmark bg--primary-1"></span>
                                      <span>12 Months Support</span>
                                  </li>
                      </ul>
                      <a class="btn btn--primary" href="#">
                          <span class="btn__text">
                          
                          </span>
                      </a>
                  </div>
                  <!--end of pricing-->
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>



  <%- include('partials/footer.ejs') -%>